
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p>Hello @Session["Username"]!</p>
            </li>
            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
